<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpenAIKey" value="sk-"/>
		<add key="OpenAIModel" value="gpt-4o-mini"/>
		<add key="AzureOAIEndpoint" value=""/>
		<add key="AzureOAIKey" value=""/>
		<add key="AzureOAIModel" value=""/>
		<add key="OllamaEndpoint" value="http://localhost:11434/"/>
		<add key="OllamaVisionModel" value="llava:7b"/>
		<add key="OllamaLlmModel" value="llama3.2"/>
		<add key="GithubToken" value=""/>
		<add key="GithubModel" value="gpt-4o-mini"/>
	</appSettings>
</configuration>
